.body-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.header__name {
  margin-left: 10px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.80);
}
.main {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main__left,
.main__right {
  width: 250px;
  height: 100%;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.left-list__section_one {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.left-list__section_one{
  justify-content: space-evenly;
}
.tools {
  padding: 10px 0;
  width: 260px;
  height: 240px;
  box-shadow: 0 3px 5px 3px #CECECE;
}
.tool {
  width: 196px;
  height: 48px;
  display: flex;
  align-items: center;
}
.transform {
   opacity: 0.5;
}
.colors .tool:nth-child(1) .icon {
  background-color: #ffbd24;
}

.colors .tool:nth-child(2) .icon {
  background-color: #fffb00;
}

.colors .tool:nth-child(3) .icon {
  background-color: #F74141;
}

.colors .tool:nth-child(4) .icon {
  background-color: #41B6F7;
}
.list__item_text {
  margin-left: 48px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}
.icon {
  width:1em;
  height: 1em;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.colors .icon {
    border: 1px solid #565656;
    border-radius: 50%;
}
.canvas {
  display: flex;
  flex-wrap: wrap;
  width: 512px;
  height: 512px;
  margin-right: 10px;
}
.block-container {
  width: 512px;
  height: 512px;
  background-color: rgb(230, 227, 223, 0.25);
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.15), 1px 1px 5px rgba(255, 255, 255, 0.25);
}
.block {
  width: 512px;
  height: 512px;
  background-color: #CFCFCF;
}
